.linkStyle {
  color: #214744;
  font-weight: 700;
  font-size: calc(0vw + 1rem);
  text-decoration: underline;
}

/* small screeens*/
@media screen and (max-width: 480px) {
  .header h1 {
    text-align: center;
    padding: 22.5px;
    font-size: 20px;
  }
  .navLinkStyle {
    display: none;
  }

  .contentHeader {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 32px 0;
    text-align: center;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 85%;
    margin: 0 auto; */
    /* padding-top: 32px; */
    padding: 32px 17px 0px 17px;
    text-align: center;
  }
}

/* large screens */

/* @media screen and (min-width: 481px) { */
@media screen and (min-width: 481px) {
  .header {
    margin: 0;
    padding: 2vw 4vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  /* .linkStyle {
    color: #214744;
    font-weight: 700;
    font-size: calc(0vw + 1rem);
    text-decoration: underline;
  } */

  .navLinkStyle {
    color: #000;
    font-size: calc(0vw + 1rem);
    padding: 1em;
    text-decoration: none;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 70px 116px;
    text-align: center;
    max-width: 50%;
  }
}

/* .linkStyle {
  color: #214744;
  font-weight: 700;
  font-size: calc(0vw + 1rem);
  text-decoration: underline;
} */

/* 
     color: "#f78978",
    //     // color: "#DE705F",
    //     // color: "chocolate",
    //     // color: "#f74034",
    //     color: "#214744",
    //     fontWeight: "700",
    //     fontSize: `calc(0vw + 1rem)`,
    //     textDecoration: "underline",
    //   }}

    */

/* .navLinkStyle {
  color: #000;
  font-size: calc(0vw + 1rem);
  padding: 1em;
  text-decoration: none;
} */

/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .navLinkStyle {
    background-color: red !important;
  }
} */

/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    background-color: red;
  }
} */
